.Rhistory
.RData
.vscode
*.exe
/RawTableProcessing/.vs
/RawTableProcessing/x64
/RawTableProcessing/Debug
/RawTableProcessing/RawTableProcessing/x64
/RawTableProcessing/RawTableProcessing/Debug
/RawTableProcessing/RawTableProcessing/RawTableProcessing.vcxproj
/RawTableProcessing/RawTableProcessing/RawTableProcessing.vcxproj.filters
/RawTableProcessing/RawTableProcessing/RawTableProcessing.vcxproj.user